<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <title>NYT SCRAPER</title>
</head>

<body>
    <header>
        <a href="/">
            <div id="sitename">NYT SCRAPER</div>
        </a>
        <a href="/"><button id="all-articles">all articles</button></a>
        <a href="/saved"><button id="saved-articles">saved articles</button></a>
        <form action="/scrape" method="GET">
            <button type="submit" id="refresh-articles">scrape newest articles</button>
        </form>
        <form action="/search" method="POST">
            <button type="submit" id="search-submit">submit</button>
            <input type="text" name="search" placeholder="Search for articles" id="search-input">
        </form>
    </header>
    <img id="cover" src="/assets/images/cover.jpg" height="500px">
    <div id="container">
        {{{ body }}}
    </div>

    <script src="/assets/javascript/app.js"></script>

    <div id="addnote">
        <div id="note-displayer">
            <h2>note</h2>
            <h3>article: <span id="article-title"></span></h3>
            <div id="note">
                <label for="note-title">title</label><br>
                <input type="text" placeholder="Title" name="title" id="note-title"><br>
                <label for="note-body">note</label><br>
                <textarea rows="7" placeholder="Note" id="note-body"></textarea><br>
                <button type="submit" id="add-note">save note</button>
                <button type="button" id="close-note">cancel</button>
            </div>
        </div>
    </div>


    <script src="/assets/javascript/app.js"></script>
</body>

</html>